body{
    bgcolor:#FFCECB;
    font-family: calibri;
}
#tituloPrincipal{
    color: #ff95e8;
}


.teoriageneral{
    font-size: 30px;
}

nav a{
    text-decoration: none;
    padding: 3px;
    background: #ffd3fa;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}


