body{
    bgcolor="FFCECB"
    font-family: calibri;
}
#tituloPrincipal{
    color: #ff95e8;;
    column-count: 2;
}
.teoriageneral{
    font-size: 30px;
}

nav a{
    text-decoration: none;
    padding: 3px;
    background: #ffd3fa;
}

a:hover{
    font-size: 1.5em;
    color: deeppink;
}

